# The directory Mix will write compiled artifacts to.
/_build/

# coverage assets end up here.
/cover/

# The directory Mix downloads your dependencies sources to.
/deps/

# Where third-party dependencies like ExDoc output generated docs.
/doc/

# Ignore .fetch files in case you like to edit your project deps locally.
/.fetch

# If the VM crashes, it generates a dump, let's ignore it too.
erl_crash.dump

# Ignore package tarball (built via "mix hex.build").
fly_io-*.tar

# Temporary files, for example, from tests.
/tmp/

#Apple DS Store
.DS_Store
*/.DS_Store

#Let github caches handle the plt
priv/plts

# Ignore assets that are produced by build tools.
/priv/static/assets/

# Ignore digested assets cache.
/priv/static/cache_manifest.json

# Lexical
.lexical

# elixir_ls
.elixir_ls

# dont include archive builds
*.ez

# In case you use Node.js/npm, you want to ignore these.
npm-debug.log
/assets/node_modules/

# apm release tracker
.apm_release.tmp

# vscode
.vscode

# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
/.lexical
devenv.lock
